.login-container{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 50%;
    margin-right: 50%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background: #237cdb;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}
.login-form-3{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background:rgb(212, 231, 212);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-form-2 h2{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
    
}
.btnSubmit
{
    width: 20%;
    height: 10%;
    border-radius: 1rem;
    padding: 1.5%;
    border: 10;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-3 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;

}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
